<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="container"></div>
<div id="info">
    <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl ocean demo
</div>
</body>
</html>