body {
    color: #000;
    font-family: Monospace,serif;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}
